<div class="container py-5">
    <div class="media col-md-10 col-lg-8 col-xl-7 p-0 my-4 mx-auto">
      <div class="media-body ml-5">
        <h2 class="font-weight-bold text-center mb-4">Vous trouverez ici nos candidats</h2>
        <h4 class="opacity-75 mb-4 text-center">
         Si besoin, nous vous accompagneront jusqu'à leurs integration
        </h4>
        <a href="#" class="d-inline-block text-white">
          <strong>234</strong>
          <span class="opacity-75">followers</span>
        </a>
        <a href="#" class="d-inline-block text-white ml-3">
          <strong>111</strong>
          <span class="opacity-75">following</span>
        </a>
      </div>
    </div>
  </div>
<div class="container">
  

  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/img/img_profil4.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Hardy Françoise</h5>
          <p class="card-text">21 ans<br>
            <p class="presentation">
                Email: Dupont.xavier@gmail.com<br>
                Compétences: développement<br>
                Centres d'intérêts: Programmation, Balades  
            </p>
          <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>
          <a href="#" class="btn btn-primary">Voir plus</a>
        </div>
      </div>
    </div>
  </div>
 
    <div class="card mb-3" id="profil2" style="max-width: 1000px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/img_profil2.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Martin Roger</h5>
            <p class="card-text">31 ans<br>
            <p class="presentation">
                Email: Martin.Roger@outlook.fr<br>
                Compétences: Jardinerie<br>
                Centres d'intérêts: Nature, écologie
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
    <!-- ---- -->

        <!-- card -->
        <div class="card mb-3" id="profil3" style="max-width: 1000px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/img/img_profil3.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Amandier Maude</h5>
                <p class="card-text">25 ans<br>
                    <p class="presentation">
                        Email: MaudeAmandier@orange.fr<br>
                        Compétences: Relationnel, Management<br>
                        Centres d'intérêts: Aide Humanitaire
                    </p>
                <p class="card-text"><small class="text-muted">Last updated 20 days ago</small></p>
                <a href="#" class="btn btn-primary">Voir plus</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" id="profil4" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/img/img_profil5.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Cooper Sheldon</h5>
                  <p class="card-text">39 ans<br>
                        <p class="presentation">
                            Email: Sheldon.Cooper@bigbangtheory.com<br>
                            Compétences: Physique quantique, développement<br>
                            Centres d'intérêts: Science
                        </p>
                  <p class="card-text"><small class="text-muted">Last updated 7 days ago</small></p>
                  <a href="#" class="btn btn-primary">Voir plus</a>
                </div>
              </div>
            </div>
          </div>
</div>
