<div class="blog-single">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    <div class="article-img">
                        <img src="../../assets/img/open-space.jpg" title="" alt="">
                    </div>
                    <div class="article-title">
                        <h2>Autisme et Emploi</h2>
                    </div>
                    <div class="article-content">
                        <p>Les entreprises de plus de 20 salariés doivent être composées
                            à 6% de travailleurs en situation d'handicap. Aujourd'hui, la
                            moyenne nationale est de 3.1%.</p>
                        <p>Le problème majeur dans l'accès à l'emploi des personnes
                            autistes est essentiellement une mauvaise communication avec
                            l'employeur. Cela est dû aux difficultés à comprendre les relations
                            sociales pour les autistes ainsi que les difficultés à gérer 
                            l'hypersensibilité sensorielle.</p>
                        
                        <p>Par ailleurs, dans le processus de recrutement, il peut leur apparaître
                            difficile de savoir sur quels postes postuler, de rencontrer des personnes
                            inconnues lors d'un entretien d'embauche ou de répondre à
                            des questions non préparées.</p>
                        <p>De plus, beaucoup de personnes autistes n'arrivent pas à garder un emploi
                            du fait d'un manque d'aménagements.</p>
                        <h3>A propos de nos AuPotentiels:</h3>
                        <p>
                            Les particularités cognitives des personnes autistes apportent énormément aux
                            équipes comme la précision, la sensibilité aux erreurs... On valorise aussi
                            chez eux la manière de penser 'out of the box', qui représente un vrai vecteur
                            d'innovation, de perception avec des solutions qui n'entrent pas dans le moule.
                            S'il y a énormément de formes d'autisme, les qualités récurrentes chez ces personnes sont
                            souvent la rigueur, leur sens du détail et leur capacité d'analyse.
                        </p>
                        <p>
                            Nous avons donc décidé de simplifier la présentation des profils candidat en s'axant sur les 
                            compétences qu'ils détiennent et sur leurs centres d'intérêts.
                        </p>
                        <p>
                            Nous proposons un premier entretien par mail afin de diminuer le stress
                            donné par un entretien par téléphone ou en physique pour un premier contact.
                        </p>
                        <p>
                            Ils ont la possibilité de mentionner s'ils désirent être accompagnés lors de leur entrerien physique
                            et de leurs débuts au sein de l'entreprise par un spécialiste de l'autisme. Le but étant de vous
                            aider à mieux vous comprendre et à exprimer les besoins.
                        </p>
                        <h3>Les bonnes pratiques:</h3>
                        <p>
                            Après un travail de recherche approfondi, nous avons lister quelques bonnes pratiques afin de faciliter
                            l'insertion des personnes présentant un TSA léger dans l'environnement
                            de travail:
                        </p>
                        <h4>Adapter l'entretien d'embauche</h4>
                        <div>
                            L'entretien d'embauche représente une grande source de stress et de difficultés pour les personnes
                            représentant un TSA légers. En effet, ils ne perçoivent que difficilement les informations
                            implicites, les non-dits...<br>
                            Il est donc recommandé de:
                            <ul>
                                <li>Se renseignener en amont sur de potentielles particularités comportementales,</li>
                                <li>Préparer des questions fermées, dans le cadre d'un entretien directif,</li>
                                <li>Choisir un environnement calme, adapté et sans bruit pour éviter une déstabilisation du candidat</li>
                                <li>Proposer une mise en situation.</li>
                            </ul>
                        </div>
                        <h4>Aménager le poste de travail</h4>
                        <div>
                            Les personnes autistes sont souvent sujets à une hypersensorialité et
                            nécessitent des aménagements particuliers pour adapter leur poste de travail:
                            <ul>
                                <li>Casques ou paroies anti-bruits,</li>
                                <li>Placer le bureau de ces personnes dans les coins les plus calmes,</li>
                                <li>Les positionner près d'une fenêtre pour avoir un accès à une lumière naturelle plutôt qu'artificielle,</li>
                                <li>Proposer au salarié d'adapter ses horaires de travail si besoin, notamment pour les personnes
                                    qui prennent les transports en commun.
                                </li>
                            </ul>
                        </div>
                        <h4>Soigner l'onboarding et l'intégration du salarié</h4>
                        <p>
                            Il est important de sensibiliser toute l'équipe, via Team Building par exemple. Cela permet
                            d'entourer la personne de tout un écosystème bienveillant qui est embarqué dans son inclusion.
                        </p>
                        <p>
                            Proposer un livret d'accueil, qui explique les habitudes de l'entreprise - déjeuners, pauses, team-buildings, codes vestimentaires -
                            et les règles de fonctionnement en interne peut s'avérer très utile.
                        </p>
                        <h4>Désigner un mentor ou un référent pour accompagner le salarié</h4>
                        <p>
                            Choisir un référent qui va accompagner la personne dans les moments informels, comme une sorte de traducteur
                            social pour le salarié, et qui va l'aider à apprendre des codes qu'il n'a pas intégré est très efficace.
                        </p>
                        <h4>Créer des process clairs et précis</h4>
                        <p>
                            Avoir des process très clairs ainsi qu'un règlement écrit et explicité permet à la personne en situation
                            de handicap de mieux s'y retrouver dans son travail, mais peut donc aussi s'avérer être un travail profitable
                            pour toute l'équipe.
                        </p>
                        <h4>S'adapter à la fatigabilité du salarié</h4>
                        <p>
                            Les personnes autistes ont une fatigabilité plus importante que les autres, il faut prendre
                            cela en compte dans le cadre professionnel.
                        </p>
                        <h4>Favoriser le télétravail</h4>
                        <div>
                            Le télétravail peut être une possibilité mais attention sur deux points:
                            <ul>
                                <li>Trop de télétravail peut susciter une angoisse quand au retour sur le lieu de travail</li>
                                <li>Le télétravail doit être convenu dès le départ et ne pas être modifié.
                                    Une personne présentant des TSA léger doit avoir un cadre constant, avec aucune modification
                                    dans sa routine.
                                </li>
                            </ul>
                        </div>
                        <h3>Proposition de format d'entretien:</h3>
                        <div>
                            Comme mentionnée précédemment, nous vous proposons de réaliser un premier entretien par mail afin
                            de mettre en confiance le candidat et qu'il puisse exprimer pleinement ses compétences:
                            <ul>
                                <li>Expliquer de la façon la plus claire possible la mission:
                                    <ul>
                                    <li>Tâches</li>
                                    <li>Description d'une journée type</li>
                                    <li>Horaires</li>
                                </ul>
                                </li>
                            
                                <li>Demander ce qu'il en a compris, quels points il souhaiterait éclaircir et sur lesquels il correspond</li>
                                <li>Exprimer les compétences attendues et lui demander s'il les détient.</li>
                                <li>Proposer un cas pratique à réaliser en relation avec les tâches que comprennent la mission</li>
                                <li>Questions additionnelles...</li>
                            </ul>
                        </div> 
                    </div>
                </article>
            </div>
            <div class="col-lg-4 m-15px-tb blog-aside">
                <!-- Author -->
                <div class="widget widget-author">
                    <div class="widget-title">
                        <h3>Déposer une offre:</h3>
                    </div>
                    <div class="widget-body">
                        <div class="media align-items-center">
                            
                            <div class="media-body"> 
                                <p>
                                    Nous vous conseillons d'être le plus informatifs et clairs possible dans votre rédaction pour faciliter la 
                                    compréhension de l'offre.
                                </p>
                            </div>
                            
                        </div>
                        <button type="button" class="btn btn-outline-primary" routerLink="/postad" >Deposer une offre</button>
                    </div>
                </div>
                <!-- End Author -->
                <!-- Trending Post -->
                <div class="widget widget-post">
                    <div class="widget-title">
                        <h3>Accompagnement:</h3>
  
                    </div>
                    <div class="widget-body">
                        <p>
                            Nous vous proposons d'être accompagnés par un personne spécialisée dans <br/> 
                            les Troubles du Spectre Autistique légers <br/> de l'entretien jusqu'à l'intégration sur le lieu de travail.
                            </p>
                    </div>
                </div>
                <!-- End Trending Post -->
                <!-- Latest Post -->
                <div class="widget widget-latest-post">
                    <div class="widget-title">
                        <h3>Candidats</h3>
                    </div>
                    <div class="widget-body">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="/listcandidat">Martin Roger | 31 ans</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="/listcandidat">
                                        Centres d'intérêts: écologie
                                    </a>
                                    <a class="date" href="/listcandidat">
                                        3 mins ago
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="/listcandidat" >
                                    <img src="../../assets/img/img_profil12.png" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="/listcandidat">Amandier Maude | 25 ans</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="/listcandidat">
                                        Centres d'intérêts: Humanitaire
                                    </a>
                                    <a class="date" href="/listcandidat">
                                        20 days ago
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="/listcandidat">
                                    <img src="../../assets/img/img_profil13.png" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="/listcandidat">Cooper Sheldon | 39 ans</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="/listcandidat">
                                        Centres d'intérêts: Science
                                    </a>
                                    <a class="date" href="/listcandidat">
                                        7 days ago
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="/listcandidat">
                                    <img src="../../assets/img/img_profil15.png" title="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Latest Post -->
            </div>
        </div>
    </div>
  </div>