<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="promo-title text-uppercase">AuPotentiel à votre service</h2>
        <p class="text-size">
          Révélons le Haut Potentiel qui est en vous !
        </p>
        <a class="text-size" href="/home#actu">
          <img class="play-btn" src="assets/img/play.png">Pour mieux appréhender
        </a>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-fluid" src="assets/img/home2.png">
      </div>
    </div>
  </div>
  <img class="bottom-img" src="assets/img/wave1.png">
</section>
<section id="about-us">
  <div class="container">
    <h1 class="title text-center">À propos de nous</h1>
    <p class="about-us__text">
      Nous proposons une plateforme de mise en relation entre les entreprises et les
      personnes présentant des troubles du spectre autistique légers
    </p>
    <div class="row pt-5">
      <div class="col-md-6 about-us">
        <p class="about-title">Quelques chiffres :</p>
        <ul class="text-size">
          <li>1% de la population est atteinte de troubles autistiques</li>
          <li>400.000 adultes autistes en capacité de travailer</li>
          <li>95% sont sans emploi</li>
          <li>Les entreprises de plus de 20 salariés doivent avoir <br/> au moins 6% de personnes handicapées</li>
          <li>Aujourd'hui la moyenne nationale est de 3,1%</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="assets/img/network.png">
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container text-center">
    <h1 class="title">Nos valeurs ajoutées</h1>
    <div class="row text-center pt-5">
      <div class="col-md-6 services">
        <img class="service-img" src="assets/img/profile.svg">
        <h4>Profil candidat simplifié</h4>
        
      </div>
      <div class="col-md-6 services">
        <img class="service-img" src="assets/img/agreement.svg">
        <h4>Processus de recrutement adapté</h4>
        
      </div>
    </div>
    <div class="row text-center pt-5">
      <div class="col-md-4 services">
        <img class="service-img" src="assets/img/typing.svg">
        <h4>Sensibilisation</h4>
       
      </div>
      <div class="col-md-4 services">
        <img class="service-img" src="assets/img/Resume.svg">
        <h4>Proposition d'un accompagnement</h4>
        
      </div>
      <div class="col-md-4 services">
        <img class="service-img" src="assets/img/offers.svg">
        <h4>Offres employeur précises</h4>
        
      </div>
    </div>
  </div>
</section>
<section id="blog">
  <div class="container site-content">
    <div class="posts">
      <div class="post-content">
        <div class="post-video">
          <div>
            <iframe width="100%" id="actu" height="550" src="https://www.youtube.com/embed/hZIkvKmo24k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="post-title">
          <a href="#">Quelle est la place des autistes dans un monde du travail de plus en plus compétitif où l'habileté sociale est décisive ?</a>
          
        </div>
      </div>
      <hr>
      <div class="post-content">
        <div class="post-video">
          <div>
            <iframe width="100%" height="550" src="https://www.youtube.com/embed/FkY4ijNniPg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          </div>
        </div>
        <div class="post-title">
          <a href="#">DLM NEWS a rencontré Anne-Charlotte Anesa, diagnostiquée autiste Asperger à ses 39 ans. Elle nous parle de son parcours et son regard sur l'autisme.</a>
          
        </div>
      </div>
    </div>
  </div>
</section>
<section id="social-media">
  <div class="container text-center">
    <p class="title">Nous rejoindre</p>
    <a class="facebook" href="#">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a class="instagram" href="#">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="twitter" href="#">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="linkedin" href="#">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</section>
<section id="footer">
  <img class="footer-img" src="assets/img/wave-footer.png">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-box">
        <img src="assets/img/aupotentiel_logo.png" width="100px">
      </div>
      <div class="col-md-4 footer-box">
        <p><b>Nous contacter</b></p>
        <p><i class="fas fa-map-marker-alt"></i>20 bis Jardins Boieldieu, 92800 Puteaux</p>
        <p><i class="fas fa-phone-alt"></i>01 55 90 06 30</p>
        <p><i class="fas fa-envelope"></i>contant@aupotentiel.fr</p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>S'abonner</b></p>
        <input class="form-control" type="email" placeholder="Votre adresse mail">
        <button class="btn btn-outline-light mt-3" type="submit">S'abonner</button>
      </div>
    </div>
  </div>
</section>